<a href="https://colab.research.google.com/github/Atchu167/SQLite-data-with-python/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import sqlite3
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
#Step 1: Create sample data
data= [
    ('Product A', 10, 20),
    ('Product B', 5, 50),
    ('Product C', 8, 30),
    ('Product A', 7, 20),
    ('Product B', 6, 50),
    ('Product C', 10, 30),
]

In [9]:
from sqlite3.dbapi2 import Cursor
#Step 2: Create SQLite database and insert data
conn= sqlite3.connect('sales_data.db')
Cursor=conn.cursor()
Cursor.execute("DROP TABLE IF EXISTS sales")
Cursor.execute("""
CREATE TABLE sales(
    product TEXT,
    quantity INTEGER,
    price REAL
)
""")
Cursor.executemany("INSERT INTO sales(product, quantity, price) VALUES(?, ?, ?)", data)
conn.commit()

In [15]:
#Step 3: Run SQL Query to get summary
query="""
SELECT product,
      SUM(quantity) AS total_qty,
      SUM(quantity * price) AS revenue
FROM sales
GROUP BY product
"""
df=pd.read_sql_query(query, conn)
print(df)

     product  total_qty  revenue
0  Product A         17    340.0
1  Product B         11    550.0
2  Product C         18    540.0

In [19]:
#Step 4: Plot Bar Chart
plt.figure(figsize=(8,5))
df.plot(kind='bar',x='product', y='revenue', legend=False, color='skyblue')
plt.title("Total Revenue by Product")
plt.xlabel("Product")
plt.ylabel("Revenue")
plt.tight_layout()
plt.savefig("sales_chart.png")
plt.close()